body {
  padding: 10px;
}

.calandar-table {
  /* Unstyled */
}

.calandar-table__cell {
  padding: 5px;
  text-align: center;
}

.calandar-table__cell--current-month {
  color: #333;
}

.calandar-table__cell--previous-month,
.calandar-table__cell--next-month {
  color: #CAA;
}

.link-button,
.link-button:visited {
  color: #373;
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px;
}

.link-button:hover {
  color: #595;
  text-decoration: none;
}